.upload-photo-container {
    text-align: left;
}

.upload-photo-container img {
    position: relative;
    width:  350px;
    height: 350px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin: auto;
    border: #b0aebc 5px solid;

}

.upload-photo-container textarea {

    width: 100%;
    min-height: 50px;
    max-height: 350px;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: vertical;
}

.upload-success-messages p {
    text-align: center;
    font-size: 18px;
    color: green;
}